AUTH0_AUDIENCE=https://dev.purpose.com
AUTH0_ISSUER_URL=dev-lx6pgkiorfx3ewb5.us.auth0.com
AUTH0_CALLBACK_URL=http://localhost:3000/sso/auth0/callback
AUTH0_CLIENT_ID=oBf5UKM8890OH7cnQuRei0sY6xjVw693
AUTH0_COOKIE_SIGN_KEY=kdsfsdjofdsn


DATABASE_URL="postgresql://purpose_db:purpose_db@localhost:5432/purpose_db"

OPENAI_API_KEY=

FRONTEND_URL=http://localhost:3001

EMAIL_RESEND_KEY=re_SHZ7ciaL_674L2u6mvK1M3pFzVWFKUTKH
EMAIL_FROM=no-reply@purpose.com